
<div class="row">
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
        <a href="post1.html" class="blog-img"><img src="images/inicio.jpg" class="img-responsive" alt="Imagen del post"></a>
        <div class="desc">
            <span><small>11 Dic 2019</small> | <small> Experiencias </small> | <small>Santiago Valdivieso</small></span>
            <h3><a href="post1.html">Primer post</a></h3>
            <p>Breve descripción del post</p>
            <a href="post1.html" class="lead">Más información <i class="icon-arrow-right3"></i></a>
        </div>
    </div>
</div>